.containerNavbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.boxUser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}